.movieFile {
    margin-bottom: 30px;
}

.movieFile h2 {
    margin: 0px 0px 0px 30px;
}

.movieFile--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieFile--list {
    transition: all ease 0.5s;
}

.movieFile--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movieFile--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0,3s;
}

.movieFile--item img:hover {
    transform: scale(1);

}

.movieFile--left, .movieFile--right {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movieFile--left {
    left: 0;
}

.movieFile--right {
    right: 0;
}

.movieFile:hover .movieFile--left, .movieFile:hover .movieFile--right {
    opacity: 1;
}


/* Responsividade */
@media (max-width: 760px) {
    .movieFile--left, .movieFile--right {
        opacity: 1;
    }
}